<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
 
<html>
<head>
  <meta http-equiv="Content-Type" content=
  "text/html; charset=utf-8">
 
  <title>Главная</title>
  <link href="css.css" rel="stylesheet" type="text/css">
</head>
 
<body>
  <div id="enterWindow">
    <div id="topEnter">
      <h1>Форма входа</h1>
 
      <div id="forButt"></div>
    </div>
 
    <div id="bodyEnter">
	 <form id="enterForm" name="enterForm" method="post" action="">
      <div class="forForm">
        <label for="logEnter">Логин:</label><input type="text" id=
        "logEnter">
      </div>
 
      <div class="forForm">
        <label for="passEnter">Пароль:</label><input type="text"
        id="passEnter">
      </div>
 
      <div class="forSubmit">
        <input type="checkbox" checked="checked" id=
        "remember">Запомнить<input type="submit" id="enter" value=
        "Вход">
      </div><br>
      <a href="forgot.html">Забыл пароль</a>&nbsp;&nbsp; <a href=
      "registration.html">Регистрация</a>
	 </form>
    </div>
  </div>
</body>
</html>