<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
 
<html>
<head>
  <meta http-equiv="Content-Type" content=
  "text/html; charset=utf-8" />
 
  <title>Главная</title>
  <link href="css.css" rel="stylesheet" type="text/css" />
  <script src="js/jquery.js" type="text/javascript">
</script>
  <script src="js/scripts.js" type="text/javascript">
</script>
</head>
 
<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo" class="float_left">
        <a href="#"></a>
      </div>
 
      <div id="header_right">
        <div id="h_search">
          <form action="" style="margin: 0px; width:310px;" method=
          "post">
            <input class="queryField" size="35" maxlength="35"
            name="query" type="text" /><input value="Поиск" name=
            "sfSbm" class="submForm" type="submit" />
          </form>
        </div>
      </div>
    </div>
 
    <div id="head_menu">
      <a href="index.html">Главная</a> <a href="about.html">О
      нас</a> <a href="contacts.html">Контакты</a> <a href=
      "delivery.html">Оплата и доставка</a> <a href=
      "garant.html">Гарантия</a> <a href=
      "discount.html">Дисконт</a> <a href="rent.html">Аренда
      звука</a> <a href="#">Галерея</a> <a href=
      "enter.html">Вход</a>
    </div>
 
    <div id="content" class="float_left">
      <div id="container" class="float_left">
        <div id="content_center">
          <div id="article_content" class="borderRadius">
            <div id="slide-holder">
              <div id="slide-runner">
                <a href=""><img id="slide-img-1" src=
                "slides/akustika-fender.jpg" class="slide" alt=""
                name="slide-img-1" /></a> <a href=""><img id=
                "slide-img-2" src="slides/casio.jpg" class="slide"
                alt="" name="slide-img-2" /></a> <a href=
                ""><img id="slide-img-3" src="slides/cube.jpg"
                class="slide" alt="" name="slide-img-3" /></a>
                <a href=""><img id="slide-img-4" src=
                "slides/eve.jpg" class="slide" alt="" name=
                "slide-img-4" /></a> <a href=""><img id=
                "slide-img-5" src="slides/Hohner-CH-06-1.jpg"
                class="slide" alt="" name="slide-img-5" /></a>
                <a href=""><img id="slide-img-6" src=
                "slides/Si-Compact-2.jpg" class="slide" alt=""
                name="slide-img-6" /></a>
              </div>
 
              <div id="slide-controls">
                <p id="slide-nav"></p><script type=
                "text/javascript">
//<![CDATA[
                if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"nature beauty","desc":"nature beauty photography"},{"id":"slide-img-2","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-3","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-4","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-5","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-6","client":"nature beauty","desc":"add your description here"}];
                //]]>
                </script>
              </div>
            </div>
 
            <div id="common_info">
              <table cellspacing="15" class="catalog">
                <tbody>
                  <tr valign="top">
                    <td id="catalog-item-1231" class=
                    "catalog-item">
                      <a href="/shop/muzykalnye-instrumenty" title=
                      "Музыкальные инструменты"><img src=
                      "images/1c.png" alt=
                      "Музыкальные инструменты" /></a>
 
                      <h3><a href=
                      "/shop/muzykalnye-instrumenty">Музыкальные
                      инструменты</a></h3>
 
                      <div>
                        <a href=
                        "/shop/muzykalnye-instrumenty/gitary-i-oborudovanie">
                        Гитары и оборудование</a>, <a href=
                        "/shop/muzykalnye-instrumenty/klavishnie_instrumenti_i_obrudovanie">
                        Клавишные инструменты и оборудование</a>,
                        <a href=
                        "/shop/muzykalnye-instrumenty/smychkovye-instrumenty">
                        Смычковые инструменты</a>, <a href=
                        "/shop/muzykalnye-instrumenty/dukhovye-instrumenty">
                        Духовые инструменты</a>, <a href=
                        "/shop/muzykalnye-instrumenty/ehtnicheskie-instrumenty">
                        Этнические инструменты</a>, <a href=
                        "/shop/muzykalnye-instrumenty">...</a>
                      </div>
                    </td>
 
                    <td class="catalog-item">
                      <a href="/shop/zvukovoe-oborudovanie" title=
                      "Звуковое оборудование"><img src=
                      "images/1c.png" alt=
                      "Звуковое оборудование" /></a>
 
                      <h3><a href=
                      "/shop/zvukovoe-oborudovanie">Звуковое
                      оборудование</a></h3>
 
                      <div>
                        <a href=
                        "/shop/zvukovoe-oborudovanie/akusticheskie-sistemy">
                        Акустические системы</a>, <a href=
                        "/shop/zvukovoe-oborudovanie/mikrofony">Микрофоны</a>,
                        <a href=
                        "/shop/zvukovoe-oborudovanie/dinamiki">Динамики</a>,
                        <a href=
                        "/shop/zvukovoe-oborudovanie/mikshernye-pulty">
                        Микшерные пульты</a>, <a href=
                        "/shop/zvukovoe-oborudovanie/usiliteli">Усилители
                        мощности</a>, <a href=
                        "/shop/zvukovoe-oborudovanie">...</a>
                      </div>
                    </td>
                  </tr>
 
                  <tr valign="top">
                    <td id="catalog-item-430" class="catalog-item">
                      <a href="/shop/studijnoe-oborudovanie" title=
                      "Студийное оборудование"><img src=
                      "images/1c.png" alt=
                      "Студийное оборудование" /></a>
 
                      <h3><a href=
                      "/shop/studijnoe-oborudovanie">Студийное
                      оборудование</a></h3>
 
                      <div>
                        <a href=
                        "/shop/studijnoe-oborudovanie/cifrovye-studii">
                        Цифровые студии</a>, <a href=
                        "/shop/studijnoe-oborudovanie/komplekty-dlja-zvukozapisi">
                        Комплекты для звукозаписи</a>, <a href=
                        "/shop/studijnoe-oborudovanie/cifrovye-mikshery">
                        Цифровые микшерные пульты</a>, <a href=
                        "/shop/studijnoe-oborudovanie/reac-oborudovanija">
                        REAC-оборудование</a>, <a href=
                        "/shop/studijnoe-oborudovanie/midi-klaviatury-i-kontrollery">
                        MIDI клавиатуры и контроллеры</a>, <a href=
                        "/shop/studijnoe-oborudovanie">...</a>
                      </div>
                    </td>
 
                    <td id="catalog-item-601" class="catalog-item">
                      <a href="/shop/svetovoe-oborudovanie" title=
                      "Световое оборудование"><img src=
                      "images/1c.png" alt=
                      "Световое оборудование" /></a>
 
                      <h3><a href=
                      "/shop/svetovoe-oborudovanie">Световое
                      оборудование</a></h3>
 
                      <div>
                        <a href=
                        "/shop/svetovoe-oborudovanie/diskotechnye-pribory">
                        Дискотечные приборы</a>, <a href=
                        "/shop/svetovoe-oborudovanie/lazery">Лазеры</a>,
                        <a href=
                        "/shop/svetovoe-oborudovanie/vrashhajushhiesja-golovy">
                        Вращающиеся головы</a>, <a href=
                        "/shop/svetovoe-oborudovanie/zerkalnye-shary-i-polusfery">
                        Зеркальные шары и полусферы</a>, <a href=
                        "/shop/svetovoe-oborudovanie/svetodiodnye-pribory">
                        Светодиодные приборы</a>, <a href=
                        "/shop/svetovoe-oborudovanie">...</a>
                      </div>
                    </td>
                  </tr>
 
                  <tr valign="top">
                    <td id="catalog-item-694" class="catalog-item">
                      <a href="/shop/dj-oborudovanie" title=
                      "DJ оборудование"><img src="images/1c.png"
                      alt="DJ оборудование" /></a>
 
                      <h3><a href="/shop/dj-oborudovanie">DJ
                      оборудование</a></h3>
 
                      <div>
                        <a href=
                        "/shop/dj-oborudovanie/mikshernye-pulty-1">Микшерные
                        пульты</a>, <a href=
                        "/shop/dj-oborudovanie/kontrollery">Контроллеры</a>,
                        <a href=
                        "/shop/dj-oborudovanie/proigryvateli-vinilovykh-diskov">
                        Проигрыватели виниловых дисков</a>,
                        <a href="/shop/dj-oborudovanie/proigryvateli-cd-mp3-dvd">
                        Проигрыватели CD/MP3/DVD</a>, <a href=
                        "/shop/dj-oborudovanie/komplekt-dj-oborudovanija">
                        Комплект DJ оборудования</a>, <a href=
                        "/shop/dj-oborudovanie">...</a>
                      </div>
                    </td>
 
                    <td id="catalog-item-1734" class=
                    "catalog-item">
                      <a href="/shop/scena" title="Сцена"><img src=
                      "images/1c.png" alt="Сцена" /></a>
 
                      <h3><a href="/shop/scena">Сцена</a></h3>
 
                      <div>
                        <a href=
                        "/shop/scena/komplekty">Комплекты</a>,
                        <a href="/shop/scena/fermy">Фермы</a>,
                        <a href="/shop/scena/sceny-poly">Сцены,
                        подиумы</a>, <a href=
                        "/shop/scena/soediniteli-zazhimy-vtulki">Соединители,
                        зажимы, втулки</a>
                      </div>
                    </td>
                  </tr>
 
                  <tr valign="top">
                    <td id="catalog-item-1153" class=
                    "catalog-item">
                      <a href="/shop/videooborudovanie" title=
                      "Видеооборудование"><img src="images/1c.png"
                      alt="Видеооборудование" /></a>
 
                      <h3><a href=
                      "/shop/videooborudovanie">Видеооборудование</a></h3>
 
                      <div>
                        <a href=
                        "/shop/videooborudovanie/videoproektory">Видеопроекторы</a>,
                        <a href=
                        "/shop/videooborudovanie/video-mikshery">Видеомикшеры</a>,
                        <a href=
                        "/shop/videooborudovanie/sistemy-videokonferencij">
                        Системы видеоконференций</a>, <a href=
                        "/shop/videooborudovanie/proekcionnye-ehkrany">
                        Проекционные экраны</a>, <a href=
                        "/shop/videooborudovanie/video-graficheskie-prezentatory">
                        Видео-графические презентаторы</a>,
                        <a href="/shop/videooborudovanie">...</a>
                      </div>
                    </td>
 
                    <td id="catalog-item-1905" class=
                    "catalog-item">
                      <a href="/shop/akusticheskie-materialy"
                      title="Акустические материалы Vicoustic"><img src="images/1c.png"
                      alt="Акустические материалы Vicoustic" /></a>
 
                      <h3><a href=
                      "/shop/akusticheskie-materialy">Акустические
                      материалы Vicoustic</a></h3>
 
                      <div>
                        <a href=
                        "/shop/akusticheskie-materialy/rasseivateli">
                        Рассеиватели звука</a>, <a href=
                        "/shop/akusticheskie-materialy/poglotiteli-zvuka">
                        Поглотители звука</a>, <a href=
                        "/shop/akusticheskie-materialy/zvukoizoljacija">
                        Звукоизоляция</a>, <a href=
                        "/shop/akusticheskie-materialy/basovye-lovushki">
                        Басовые ловушки</a>, <a href=
                        "/shop/akusticheskie-materialy/aksessuary">Аксессуары</a>
                      </div>
                    </td>
                  </tr>
 
                  <tr valign="top">
                    <td id="catalog-item-1072" class=
                    "catalog-item">
                      <a href="/shop/avtozvuk" title=
                      "Автозвук"><img src="images/1c.png" alt=
                      "Автозвук" /></a>
 
                      <h3><a href=
                      "/shop/avtozvuk">Автозвук</a></h3>
 
                      <div>
                        <a href=
                        "/shop/avtozvuk/avtoakustika">Автоакустика</a>,
                        <a href=
                        "/shop/avtozvuk/avtomagnitoly">Автомагнитолы</a>,
                        <a href=
                        "/shop/avtozvuk/avtomonitory">Автомониторы</a>,
                        <a href=
                        "/shop/avtozvuk/avtousiliteli">Автоусилители</a>,
                        <a href=
                        "/shop/avtozvuk/cd-i-dvd-chejndzhery">CD и
                        DVD чейнджеры</a>, <a href=
                        "/shop/avtozvuk">...</a>
                      </div>
                    </td>
 
                    <td id="catalog-item-1298" class=
                    "catalog-item">
                      <a href="/shop/audiooborudovanie" title=
                      "Аудиооборудование"><img src="images/1c.png"
                      alt="Аудиооборудование" /></a>
 
                      <h3><a href="/shop/audiooborudovanie">Аудио
                      оборудование</a></h3>
 
                      <div>
                        <a href=
                        "/shop/audiooborudovanie/cd-dvd-proigryvateli-rekordery">
                        CD/DVD проигрыватели/рекордеры</a>,
                        <a href="/shop/audiooborudovanie/md-proigryvateli-rekordery">
                        MD проигрыватели/рекордеры</a>, <a href=
                        "/shop/audiooborudovanie/kombinirovannye-proigryvateli-rekordery">
                        Комбинированные проигрыватели/рекордеры</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
 
            <h1>Вы недавно смотрели:</h1>
 
            <div class="list-item" id="id-item-11021">
              <table cellspacing="6" width="100%">
                <tbody>
                  <tr valign="top">
                    <td width="150"><a href=
                    "/_sh/110/11021.jpg"><img alt="" src=
                    "images/11021m.jpg" /></a></td>
 
                    <td>
                      <a style="font-size:16px" href=
                      "product.html">Alesis Cadenza</a>
 
                      <div style="margin-top:10px;"></div>
 
                      <div style=
                      "margin-top:10px; font-size:10px;">
                        Цифровое пианино ALESIS Cadenza,
                        88-клавишное, с молоточковым механизмом,
                        снабженное восемью стерео инструментальными
                        тембрами, полезной функцией Split, педалью
                        сустейна, встроенными эффектами и многим
                        другим.
                      </div>
 
                      <div style="font-size: 14px; margin:10px 0;">
                        <span class="price">6355.00грн.</span>
                      </div>
 
                      <div class="basket"><img src=
                      "images/bdone.png" alt="" /></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
 
            <div class="list-item" id="id-item-11021">
              <table cellspacing="6" width="100%">
                <tbody>
                  <tr valign="top">
                    <td width="150"><a href=
                    "/_sh/110/11021.jpg"><img alt="" src=
                    "images/11021m.jpg" /></a></td>
 
                    <td>
                      <a style="font-size:16px" href=
                      "product.html">Alesis Cadenza</a>
 
                      <div style="margin-top:10px;"></div>
 
                      <div style=
                      "margin-top:10px; font-size:10px;">
                        Цифровое пианино ALESIS Cadenza,
                        88-клавишное, с молоточковым механизмом,
                        снабженное восемью стерео инструментальными
                        тембрами, полезной функцией Split, педалью
                        сустейна, встроенными эффектами и многим
                        другим.
                      </div>
 
                      <div style="font-size: 14px; margin:10px 0;">
                        <span class="price">6355.00грн.</span>
                      </div>
 
                      <div class="basket"><img src=
                      "images/bdone.png" alt="" /></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
 
            <div class="list-item" id="id-item-11021">
              <table cellspacing="6" width="100%">
                <tbody>
                  <tr valign="top">
                    <td width="150"><a href=
                    "/_sh/110/11021.jpg"><img alt="" src=
                    "images/11021m.jpg" /></a></td>
 
                    <td>
                      <a style="font-size:16px" href=
                      "product.html">Alesis Cadenza</a>
 
                      <div style="margin-top:10px;"></div>
 
                      <div style=
                      "margin-top:10px; font-size:10px;">
                        Цифровое пианино ALESIS Cadenza,
                        88-клавишное, с молоточковым механизмом,
                        снабженное восемью стерео инструментальными
                        тембрами, полезной функцией Split, педалью
                        сустейна, встроенными эффектами и многим
                        другим.
                      </div>
 
                      <div style="font-size: 14px; margin:10px 0;">
                        <span class="price">6355.00грн.</span>
                      </div>
 
                      <div class="basket"><img src=
                      "images/bdone.png" alt="" /></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <strong style="font-size: small;"><img src=
            "images/robik-logo.png" alt="" align="left" width=
            "200pxpx" style=
            "margin-right: 3px; margin-left: 3px;" /></strong>
 
            <p><font size="2" style="font-size: 10pt;">Каждый
            музыкант стремится &nbsp;наиболее полно выразить свою
            идею и чувства через своё произведение или
            &nbsp;исполнение. &nbsp;А это невозможно без
            &nbsp;качественного инструмента.</font></p>
 
            <p><font size="2"><strong>&nbsp; Музыкальный магазин
            &nbsp;"Robik-Music"</strong> является
            &nbsp;зарегистрированной торговой маркой и реальным
            магазином в г. Сарны Ровенской &nbsp;обл. &nbsp;Мы
            предлагаем качественное &nbsp;музыкальное оборудование
            на любой вкус уже более 5 лет любителям и
            профессионалам. У нас вы можете не только приобрести
            необходимый &nbsp;товар, но и получить профессиональную
            консультацию, опробовать инструмент в &nbsp;действии,
            ознакомиться с ведущими брендами в области музыкальной
            индустрии.</font></p>
 
            <p><font size="2">&nbsp; Благодаря
            <b>музыкальному&nbsp;интернет-магазину
            &nbsp;"Robik-Music"</b> вы имеете возможность выбрать
            желаемый инструмент или &nbsp;оборудование, заказать и
            получить его по месту жительства (<a href=
            "http://www.robik-music.com/index/oplata_i_dostavka/0-349">доставка</a>
            по всей &nbsp;Украине). &nbsp;На "витрине" нашего
            &nbsp;<b>интернет-магазина</b> находятся товары как
            испытанных временем компаний, так и &nbsp;новых
            производителей.</font></p>
 
            <p><font size="2">&nbsp; В нашем <b>музыкальном
            интернет-магазине</b> &nbsp;вы можете приобрести
            клавишные, струнные, духовые и др. <b>музыкальные
            &nbsp;инструменты</b>, аксессуары к ним, а также
            звуковое, студийное оборудование, &nbsp;приборы
            световых эффектов, комплекты для установки сцен,
            кабельную продукцию и &nbsp;многое
            другое.<br /></font></p>
 
            <p><font size="2">&nbsp; Также мы осуществляем
            &nbsp;комплекс услуг по инсталляции звукового и
            светового оборудования в кинозалах,
            &nbsp;культурно-развлекательных центрах, на концертных
            площадках. (см. "<a href=
            "http://www.robik-music.com/index/arenda_zvuka/0-350">аренда
            звука</a>")</font></p>
          </div>
        </div>
      </div>
 
      <div id="left_menu" class="float_left">
        <div class="block_title">
          Каталог
        </div>
 
        <div class="block_content">
          <ul class="kat_list">
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class="list_item"
                style=
                "font-weight:bold;color:#C63;">Акция!!!</span></a>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="page1.html"><span class=
                "list_item">Муз. инструменты</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
 
              <div class="ul_container">
                <ul class="drop">
                  <li>
                    <a href="#">Клавишные инструменты</a><img src=
                    "images/17.gif" alt="" /><!--Droping block-->
 
                    <div class="ul_container">
                      <ul class="drop">
                        <li>
                          <a href="#">Синтезаторы</a><img src=
                          "images/17.gif" alt="" />
                          <!--Droping block-->
 
                          <div class="ul_container">
                            <ul class="drop">
                              <li><a href="#">Yamaha</a></li>
 
                              <li><a href="#">Cassio</a></li>
 
                              <li><a href="#">Tama</a></li>
 
                              <li><a href="#">Gibson</a></li>
                            </ul>
                          </div><!--End droping block-->
                        </li>
 
                        <li><a href="#">Пианино</a></li>
 
                        <li><a href="#">Клавесины</a></li>
 
                        <li><a href="#">Рояли</a></li>
                      </ul>
                    </div><!--End droping block-->
                  </li>
 
                  <li><a href="#">Смычковые инструменты</a></li>
 
                  <li><a href="#">Гитары и оборудование</a></li>
 
                  <li><a href="#">Духовые инструменты</a></li>
 
                  <li><a href="#">Ударные инструменты</a></li>
 
                  <li><a href="#">Этнические инструменты</a></li>
                </ul>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Звук</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Студия</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Свет</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Акуст. материалы</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Сцена</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Dj оборудование</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Видеооборудование</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Аудиооборудование</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Автозвук</span></a>
 
                <div class="list_corner"><img src="images/17.gif"
                alt="" /></div>
              </div>
            </li>
 
            <li>
              <div class="katalog">
                <a class="katalog" href="#"><span class=
                "list_item">Заказать проект</span></a>
              </div>
            </li>
          </ul>
        </div>
 
        <div class="block_bottom"></div>
 
        <div class="block_title">
          Новости
        </div>
 
        <div class="block_content">
          <div class="block_news">
            <span>[25.02.2013]</span>
 
            <p><a href="#">Новинки WALDEN - серия классических
            гитар SOLLANA</a></p>
          </div>
 
          <div class="block_news">
            <span>[16.01.2013]</span>
 
            <p><a href="#">Как выиграть Гремми? Бадди Гай</a></p>
          </div>
 
          <div class="block_news">
            <span>[12.12.2012]</span>
 
            <p><a href="#">Скидки -25% на JBL</a></p>
          </div>
        </div>
 
        <div class="block_bottom"></div>
 
        <center>
          <!-- VK Widget -->
 
          <div id="vk_groups" style=
          "height: 290px; width: 195px; background-image: none; background-position: initial initial; background-repeat: initial initial;">
          <iframe name="fXD5a5db" frameborder="0" src=
          "http://vk.com/widget_community.php?app=0&amp;width=195px&amp;gid=30946037&amp;mode=0&amp;height=290&amp;url=http%3A%2F%2Fwww.robik-music.com%2Fshop%2Fmuzykalnye-instrumenty%2Fehtnicheskie-instrumenty&amp;13d3681289e"
            width="195" height="200" scrolling="no" id="vkwidget1"
            style="overflow: hidden; height: 290px;"></iframe>
          </div>
        </center>
      </div>
 
      <div id="right_menu" class="float_left">
        <div class="block_title">
          Корзина
        </div>
 
        <div class="block_content">
          Ваша корзина пуста
        </div>
 
        <div class="block_bottom"></div>
 
        <div class="block_title">
          Обратная связь
        </div>
 
        <div class="block_content">
          <a href="#"><img src="images/vk.png" alt=
          "" /></a><a href="#"><img src="images/facebook.png" alt=
          "" /></a><a href="#"><img src="images/twitter.png" alt=
          "" /></a><a href="#"><img src="images/youtube.png" alt=
          "" /></a>
        </div>
 
        <div class="block_bottom"></div>
 
        <div class="block_title">
          При покупке у нас
        </div>
 
        <div class="block_content"><img src=
        "images/pochemu_kupit_u_nas3.png" alt="" /></div>
 
        <div class="block_bottom"></div>
 
        <div class="block_title">
          Отзывы
        </div>
 
        <div class="block_content">
          <a href="#"><img src="images/otzyvy.png" alt="" /></a>
        </div>
 
        <div class="block_bottom"></div>
      </div>
    </div>
 
    <div id="clear"></div>
 
    <div id="footerContent">
      <div id="footer">
        <ul class="footerUl">
          <li style="list-style: none; display: inline">
            <h1>Магазин</h1>
          </li>
 
          <li><a href="#">О нас</a></li>
 
          <li><a href="#">Контакты</a></li>
 
          <li><a href="#">Письмо нам</a></li>
 
          <li><a href="#">Аренда звука</a></li>
 
          <li><a href="#">Галерея</a></li>
 
          <li><a href="#">Новости</a></li>
        </ul><img src="images/viewerFooter.png" alt="" />
 
        <ul class="footerUl">
          <li style="list-style: none; display: inline">
            <h1>Клиентам</h1>
          </li>
 
          <li><a href="#">Как заказать</a></li>
 
          <li><a href="#">Оплата</a></li>
 
          <li><a href="#">Доставка</a></li>
 
          <li><a href="#">Гарантия</a></li>
 
          <li><a href="#">Дисконт</a></li>
 
          <li><a href="#">Личный кабинет</a></li>
        </ul><img src="images/viewerFooter.png" alt="" />
 
        <ul class="footerUl">
          <li style="list-style: none; display: inline">
            <h1>Связь</h1>
          </li>
 
          <li>+38(066)652-27-73</li>
 
          <li>+38(097)163-19-33</li>
 
          <li>+38(03655)3-27-83</li>
 
          <li><img src="images/icq.png" />605796360</li>
 
          <li><img src="images/skype.png" />nina_robik-music</li>
 
          <li><span id="backCall"><a href="#">Обратный
          звонок</a></span></li>
        </ul><img src="images/viewerFooter.png" alt="" />
 
        <ul class="footerUl">
          <li style="list-style: none; display: inline">
            <h1>График работы</h1>
          </li>
 
          <li>Пн-Пт:......9.00-18.00</li>
 
          <li>Сб:.........9.00-17.00</li>
 
          <li>Вс:...........выходной</li>
 
          <li style="list-style: none">
            <br />
 
            <h1>Следите за нами:</h1>
 
            <div style="margin-left:-9px;"><img src=
            "images/vk.png" /><img src=
            "images/facebook.png" /><img src=
            "images/twitter.png" /><img src=
            "images/youtube.png" /></div>
          </li>
        </ul>
 
        <div id="copyright">
          Музыкальный интернет-магазин Robik-Music © 2006-2013
 
          <div style="float:right;margin-right:90px;">
            <a href="#"><img src="images/paypal.png" /></a><a href=
            "#"><img src="images/master.png" /></a><a href=
            "#"><img src="images/visa.png" /></a><a href=
            "#"><img src="images/24.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
 